mixin sLessons(data)
	// start sLessons
	+b.SECTION.sLessons.section#sLessons&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Что Вы получите в уроках курса?
			+e.wrap.mb-40
				mixin item(badge, title, text, t1, t2, t3)
					+e.item
						+e.row.row
							.col-sm-auto
								+e.badge!= badge
							.col-sm
								h5!= title
						p!= text
						+e.cite
							span Ваш результат после урока:
							ul
								li= t1
								li= t2
								li= t3
				+item('Урок 1', 'Секреты обучения трейдингу новичков', '3 проблемы, с которыми Вы неизбежно столкнетесь на этапе обучения трейдингу, и их решение.', 'Получите единственно правильный ответ на вопрос: "Как в трейдинге достичь запланированную прибыль?"', 'Сможете легко определить, реальна Ваша цель по доходности в трейдинге или нет.', 'Узнаете единственно верный способ лечения зависимости от чужих роботов и торговых стратегий.')
				+item('Урок 2', 'Как за 5 минут создать прибыльную трендовую стратегию с помощью конструктора?','Структура трендовой стратегии, которая надежно приносит прибыль десятилетиями.','	Получите в готовом виде базовую трендовую стратегию, которую можно сразу использовать и зарабатывать деньги.','Узнаете, как быстро создавать прибыльные трендовые стратегии для конкретного финансового рынка.','Увидите, как мгновенно тестировать созданные стратегии и как отбирать из них самые прибыльные.')
				+item('Урок 3', 'Как продолжать зарабатывать, даже если рынок меняется в худшую сторону?','Простейшая методика адаптации стратегии к плохому рынку, которую поймет даже новичок.','Узнаете, почему любые торговые роботы в будущем сливают деньги и как этого избежать.','Сможете заранее узнавать, как поведет себя торговая стратегия в будущем, при негативном рынке.','Разберетесь, как автоматически выключать торгового робота при плохом рынке и включать "режим турбо" при благоприятном, чтобы забирать максимум прибыли.')
			+e.bottom.text-center
				+e.bonus Специальный бонус финалистам курса:
				h3 Чек-лист подготовки трендового робота к запуску в торги на реальном счете
	// end sLessons